name: Publish Docker image (neko)

on:
  push:
    branches:
      - neko
  workflow_dispatch:

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.commits.*.message, '[skip ci]') && !contains(github.event.commits.*.message, '[ci skip]') }}

    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Setup Push Tag
        id: dogs
        run: |
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      - name: Replace the github url
        run: |
          sed -i 's|ssh://git@github.com/|git+https://github.com/|g' package.json
          sed -i 's|ssh://git@github.com/|git+https://github.com/|g' packages/frontend/package.json
          sed -i 's|ssh://git@github.com/|git+https://github.com/|g' packages/backend/package.json
          sed -i 's|ssh://git@github.com/|git+https://github.com/|g' packages/sw/package.json
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: dogcraft/misskey
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: |
            dogcraft/misskey:neko
            dogcraft/misskey:neko-${{steps.dogs.outputs.sha_short}}
          labels: neko
      - name: Update Docker Hub Description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: dogcraft/misskey
