# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Test (misskey.js)

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.5.1]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Replace the github url
        run: |
          sed -i 's|ssh://git@github.com/|git+https://github.com/|g' package.json
          sed -i 's|ssh://git@github.com/|git+https://github.com/|g' packages/frontend/package.json
          sed -i 's|ssh://git@github.com/|git+https://github.com/|g' packages/backend/package.json
          sed -i 's|ssh://git@github.com/|git+https://github.com/|g' packages/sw/package.json
          sed -i 's|git@github.com:|https://github.com/|g' .gitmodules

      - run: corepack enable

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3.8.1
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm i --lockfile-only
      - name: Install dependencies2
        run: pnpm i

      - name: Check pnpm-lock.yaml
        run: git diff --exit-code pnpm-lock.yaml

      - name: Build
        run: pnpm --filter misskey-js build

      - name: Test
        run: pnpm --filter misskey-js test
        env:
          CI: true

      - name: Upload Coverage
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./packages/misskey-js/coverage/coverage-final.json
